<?xml version="1.0" encoding="UTF-8"?>
<window>
	<defaultcontrol>9000</defaultcontrol>
	<backgroundcolor>main_bg_100</backgroundcolor>
	<controls>
		<include>DefaultBackground</include>
		<control type="multiimage">
			<depth>DepthBackground</depth>
			<include>FullScreenDimensions</include>
			<aspectratio>scale</aspectratio>
			<animation effect="zoom" center="auto" end="102,102" time="0" condition="Integer.IsGreater(System.StereoscopicMode,0)">conditional</animation>
			<animation effect="fade" start="0" end="100" time="400" reversible="true" condition="!Window.Previous(SettingsCategory.xml)">WindowOpen</animation>
			<animation effect="fade" start="100" end="0" time="300" reversible="true" condition="!Window.Next(SettingsCategory.xml)">WindowClose</animation>
			<animation effect="fade" time="400">VisibleChange</animation>
			<imagepath colordiffuse="35FFFFFF">$INFO[Skin.String(HomeFanart.path)]settings$INFO[Skin.String(HomeFanart.ext)]</imagepath>
			<visible>!Player.HasMedia + !String.IsEmpty(Skin.String(HomeFanart.path))</visible>
		</control>
		<control type="group">
			<centerleft>50%</centerleft>
			<width>1600</width>
			<top>0</top>
			<bottom>0</bottom>
			<include>OpenClose_Right</include>
			<control type="label">
				<left>0</left>
				<right>0</right>
				<top>420</top>
				<height>400</height>
				<label>$LOCALIZE[5]</label>
				<align>center</align>
				<font>font37</font>
			</control>
			<control type="panel" id="9000">
				<left>0</left>
				<width>100%</width>
				<top>120</top>
				<height>300</height>
				<onup>noop</onup>
				<ondown>Control.SetFocus(9001,$INFO[Container(9000).Position],absolute)</ondown>
				<include>SettingsPanel</include>
				<content>
					<item id="1">
						<label>$LOCALIZE[7]</label>
						<icon>special://skin/extras/icons/folder.png</icon>
						<onclick>ActivateWindow(filemanager)</onclick>
					</item>
					<item id="2">
						<label>$LOCALIZE[24001]</label>
						<icon>special://skin/extras/icons/addon.png</icon>
						<onclick>ActivateWindow(addonbrowser)</onclick>
					</item>
					<item id="3">
						<label>$LOCALIZE[10007]</label>
						<icon>special://skin/extras/icons/sysinfo.png</icon>
						<onclick>ActivateWindow(systeminfo)</onclick>
					</item>
					<item id="4">
						<label>$LOCALIZE[10050]</label>
						<icon>special://skin/extras/icons/recent.png</icon>
						<onclick>ActivateWindow(eventlog)</onclick>
						<visible>!System.HasAddon(service.libreelec.settings)</visible>
						<visible>!System.HasAddon(service.coreelec.settings)</visible>
					</item>
					<item id="5">
						<label>LibreELEC $LOCALIZE[5]</label>
						<icon>special://skin/extras/icons/libreelec.png</icon>
						<onclick>RunScript(service.libreelec.settings)</onclick>
						<visible>System.HasAddon(service.libreelec.settings)</visible>
					</item>
					<item id="6">
						<label>CoreELEC $LOCALIZE[5]</label>
						<icon>special://skin/extras/icons/coreelec.png</icon>
						<onclick>RunScript(service.coreelec.settings)</onclick>
						<visible>System.HasAddon(service.coreelec.settings)</visible>
					</item>
				</content>
			</control>
			<control type="panel" id="9001">
				<left>0</left>
				<right>0</right>
				<top>470</top>
				<bottom>0</bottom>
				<onup>Control.SetFocus(9000,$INFO[Container(9001).Position],absolute)</onup>
				<ondown>noop</ondown>
				<include>SettingsPanel</include>
				<content>
					<item id="4">
						<label>$LOCALIZE[20077]</label>
						<icon>special://skin/extras/icons/paintbrush.png</icon>
						<onclick>ActivateWindow(SkinSettings)</onclick>
					</item>
					<item id="1">
						<label>$LOCALIZE[14207]</label>
						<icon>special://skin/extras/icons/skinsettings.png</icon>
						<onclick>ActivateWindow(InterfaceSettings)</onclick>
					</item>
					<item id="2">
						<label>$LOCALIZE[14212]</label>
						<icon>special://skin/extras/icons/tags.png</icon>
						<onclick>ActivateWindow(MediaSettings)</onclick>
					</item>
					<item id="3">
						<label>$LOCALIZE[14201]</label>
						<icon>special://skin/extras/icons/equalizer.png</icon>
						<onclick>ActivateWindow(PlayerSettings)</onclick>
					</item>
					<item id="5">
						<label>$LOCALIZE[14209]</label>
						<icon>special://skin/extras/icons/configure.png</icon>
						<onclick>ActivateWindow(SystemSettings)</onclick>
					</item>
					<item id="6">
						<label>$LOCALIZE[14208]</label>
						<icon>special://skin/extras/icons/network.png</icon>
						<onclick>ActivateWindow(servicesettings)</onclick>
					</item>
					<item id="10">
						<label>$LOCALIZE[14205]</label>
						<icon>special://skin/extras/icons/livetv.png</icon>
						<onclick>ActivateWindow(pvrsettings)</onclick>
					</item>
					<item id="7">
						<label>$LOCALIZE[14210]</label>
						<icon>special://skin/extras/icons/actor.png</icon>
						<onclick>ActivateWindow(Profiles)</onclick>
					</item>
				</content>
			</control>
		</control>
		<include content="TopBar">
			<param name="breadcrumbs_label" value="$LOCALIZE[13000]" />
		</include>
		<include>BottomBar</include>
	</controls>
</window>
